@model IEnumerable<WordrobeMVC.Models.Shoe>

@{
    ViewBag.Title = "Index";
}

<h1 class="page-header">Shoes</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-4" id="Clothes">
        <div class="row">
            <img class="myPictures" src="@Html.DisplayFor(modelItem => item.Photo)" />
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShoesID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })
            </p>
        </div>
    </div>
}
